@{
    ViewData["Title"] = "About Us Page";
}

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/pic2.jpg" alt="Card image cap" style="width:600px;height:550px;" />
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center" style="color:purple">WHY CHOOSE US</h5>
                <p class="card text-white text-center p-3" style="background-color: #04B57D;">
                    At Access 247, we understand we exist only because of the demands from our clients and staff. They are the centre of what we do and we are fully committed to ensure they get the best services from us.<br><br>
                    We make every effort to build professional relationships with both clients and candidates as honesty, integrity and transparency are at the heart of everything we do.<br><br>
                    We are committed to providing the highest quality customer care experience in a timely manner for our clients and we support our staff through every stage of their journey with the training and development they need in order to excel in their career with us. We take pride in delivering a level of service which results in repeat business from our clients, and complete satisfaction from our candidates time and again<br><br>
                    <b>We can't wait to hear from you! Call us today and let us help you find what you're looking for.</b>
                </p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <i class="fa fa-arrow-down fa-5x text-center" style="color:purple" aria-hidden="true"></i>
            <div class="card-body">
                <h5 class="card-title text-center" style="color:purple">OUR SERVICES</h5>
                <p class="card text-white text-center p-3" style="background-color: #04B57D;">
                    We provide bespoke services through recruitment of staff to match the specific requirements of our clients, which is why we also ensure we are available 24 hours a day, seven days a week to meets all your needs.
                    With this in mind, our clients can be rest assured that they are getting value for their money as our members of staff understand their job roles and what is expected of them.
                </p>
            </div>
        </div>
        <div class="card">
            <i class="fa fa-thermometer-full fa-5x text-center" style="color:purple" aria-hidden="true"></i>
            <div class="card-body">
                <h5 class="card-title text-center" style="color:purple">OUR MISSION</h5>
                <p class="card text-white text-center p-3" style="background-color: #04B57D;">
                    Our mission is to provide our clients with the right candidates as well as ensuring our staff are in their area of expertise to be able to showcase their skills and experiences within the shortest time possible.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center" style="color:purple">CONTACT US</h5>
                <p class="card text-white text-center p-3" style="background-color: #04B57D;">
                    <i class="fa fa-envelope" aria-hidden="true"></i> platinny10@gmail.com
                </p>
            </div>
        </div>
    </div>
