@{
    ViewData["Title"] = "Candidate Page";
}

    <div class="text-center">
        <p class="card text-white text-center" style="line-height: 1.6rem; font-size: 16px; text-align: left; background-color: #04B57D;">
            Whether you are looking for a temporary, permanent or work in an ad-hoc role, you don’t need to search
            further as Access 247 is here to provide you with many career opportunities. We specialise in providing
            staffing solutions to bridge any staffing gaps that our clients are experiencing, we are committed to building
            professional relationships with all our staff and above all we understand that choosing the right agency to work
            with can be a daunting task. <br><br> We endeavour to provide support to all our staff through every stage of their
            journey with us with regular training courses and development programmes to equip them with the necessary skills and
            knowledge they need in order to excel in their career. <br><br> During our registration process, we would require you
            to provide all relevant work experience you have acquired including relevant training and certificates which we would
            use to allocate you to the appropriate environment relevant to your skills and experience.
        </p>
    </div>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="~/img/pic18.jpg" alt="Card image cap" style="width:500px;height:450px;" />
    </div>
    <div class="card">
        <div class="card-body">
            @*<h5 class="card-title text-center" style="color:purple">WHY CHOOSE US</h5>*@
            <p class="card text-white text-center" style="line-height: 1.6rem; font-size: 16px; text-align:start; background-color: #04B57D;">
                If you are new to the industry, there is nothing to worry about as Access 247 offers opportunities
                for individuals who are willing to work towards developing a new career in Health and Social care.
                As a new member of staff you will be supported to complete our ongoing training and you would undergo
                our induction course to ensure you understand our professional standards. <br><br> Access 247 understands
                the importance of getting the right person for the job, which is why we are always looking for individuals
                with passion and commitment to work to join our carefully handpicked team. Our candidates can be assured that
                they are being provided with services that they can rely on all the time. <br><br> If you are interested in applying
                for a role with us, please complete the form below. You can also send your CV to info@access247.co.uk or call 01322635200
                and speak to one of our Recruitment Consultants.
            </p>
        </div>
    </div>
</div>
